{% extends "base.html" %}

{% block navbar %}
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
{% end %}

{% block content %}
    <div class="hero-unit">
        <h1>Who is SuShi?</h1>
        <p>Rishi Bajekal and Suharsh Sivakumar are both Computer Science majors at the University of Illinois Urbana-Champaign.
        <p>
            We made drimpio because people that go to our school are particularly fond of drinking. Everyone
            tends to share why and what they're drinking when they go out and we thought it would be fun to share this
            with the world... instead of with us.
        </p>
        <h1>Special Thanks</h1>
        <p>Greg Blaszczuk for the amazing background photo</p>
        <p>Tucker Gritton for being awesome</p>
    </div>
{% end %}
