{% extends "base.html" %}

{% block navbar %}
    <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>            
{% end %}
                
{% block content %}
    <div class="hero-unit">
        <h1>Make a toast!</h1>
        <p>Share why you're drinking and what you're drinking!</p>
        <div class="form-horizontal" id="toastForm">
            <div class="control-group">
                <label class="control-label">I am drinking because:</label>
                <div class="controls">
                    <textarea id="why" class="input-text" rows="3" name="message" placeholder="I like to drink."></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">I am drinking:</label>
                <div class="controls">
                    <textarea id="what" class="input-text" rows="1" type="text" name="drink" placeholder="beer"></textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <p><button class="btn btn-primary btn-large button" id="toastButton">Toast!</button></p>
                </div>
            </div>
        </div>
    </div>

    <div id="toastBox">
    </div>
{% end %}

{% block scripts %}
    <script src="{{ static_url('js/vendor/jquery.timeago.js') }}"></script>
    <script src="{{ static_url('js/ws.js') }}"></script>
    <script src="{{ static_url('js/time.js') }}"></script>
    <script src="{{ static_url('js/toast.js') }}"></script>
    <script src="{{ static_url('js/placeholder.js') }}"></script>
{% end %}
